
.post {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.35);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUserName {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 1.2rem;
}

.postTopRight svg {
    font-size: 2.4rem;
}

.postCenter {
    margin: 20px 0;
}

.postText {
    font-size: 1.6rem;
}

.postImage {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 1.5rem;
}

.postCommentText {
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: 1px dashed gray;
}
